RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{DOCUMENT_ROOT}/$1 -f
RewriteRule ^[^/]+/([^.]+\.(?:js|css|jpe?g|png|gif))$ /$1 [L,R=301,NC]


RewriteRule ^$ index.php [QSA,L]
RewriteRule ^([a-zA-Z_]+)?$ $1.php [QSA,L]
RewriteRule ^activation/([^/]+)/([^/]+)/?$ activation.php?activation_code=$1&email=$2 [L]
RewriteRule ^reset-password/([^/]+)/([^/]+)/?$ reset-password.php?code=$1&email=$2 [L]
RewriteRule ^forgot-password forgot-password.php [L]

#Redirecting the 404s to homepage
ErrorDocument 404 /
